{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <form action="" method="get" class="form-inline">
  </form>
  <br>
  <h1>
    To-do list
  <a href="{% url 'catalog:task-create' %}" class="btn btn-primary link-to-page">
      Add task
  </a>
  </h1>
  {% if task_list %}
    {% for task in task_list %}
      <tr>
        <td>{{ task.content }} {{ task.is_done }}</td>
        <td>{{ task.datetime }}</td>
        <td>
          {% if task.tags.all %}
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% endfor %}
          {% endif %}
        </td>
      </tr>
      <a href="{% url 'catalog:task-update' pk=task.id %}" class="btn btn-primary">
        Update
      </a>
      <a href="{% url 'catalog:task-delete' pk=task.id %}" class="btn btn-primary">
        Delete
      </a>
    {% endfor %}
{% else %}
    <p>There are currently no tasks.</p>
{% endif %}

{% endblock %}
